= simple_form_for @user do |f|
  %fieldset
    %legend= @user.new_record? ? t("login") : t("users.edit")
    = hidden_field_tag :provider, session[:provider]
    = hidden_field_tag :uid, session[:uid]
    = f.text_field :name, placeholder: "Name"
    = f.text_field :email, placeholder: "Email"
    #telephones
      - first = true
      = f.fields_for :telephones do |telephone|
        - if first
          .row
            .columns.small-12
              = telephone.text_field :number, placeholder: t("telephones.number")
        - else
          .row
            .columns.large-10.medium-9.small-8
              = telephone.text_field :number, placeholder: t("telephones.number")
            .columns.large-2.medium-3.small-4
              = telephone.check_box :_destroy
              = telephone.label :_destroy, t("remove")
        - first = false
    %a.tiny.secondary.button.expand{ onclick: "addPhone();" } Add telephone
    #addresses
      - first = true
      = f.fields_for :addresses do |address|
        - if first
          .row
            .columns.small-12
              = address.text_field :text, placeholder: "Address"
        - else
          .row
            .columns.large-10.medium-9.small-8
              = address.text_field :text, placeholder: "Address"
            .columns.large-2.medium-3.small-4
              = address.check_box :_destroy
              = address.label :_destroy, t("remove")
        - first = false
    %a.tiny.secondary.button.expand{ onclick: "addAddress();" } Add address
    = f.submit t("users.update"), class: "small expand button"
