- @finding_posts.each do |finding_post|
  -griduser = 0
  -if(current_user != nil)
    -griduser = current_user.id
  %li
    %a{"data-description" => "name : #{finding_post.description}<br>location : #{finding_post.location}<br>special signs : #{finding_post.special_signs}<br>age : #{finding_post.age}<br>contact information : #{finding_post.contact_info}<br>gender : #{finding_post.gender == true ? 'male':'female'}".html_safe, "data-largesrc" => "#{finding_post.image}", "data-title" => "#{finding_post.name}", :mine => finding_post_mine_path(finding_post),:edit => edit_finding_post_path(finding_post),:user => "#{finding_post.user_id}",:current => "#{griduser}", :returned => report_child_as_returned_path(finding_post), :share => "shareFindingPost('#{finding_post.id}','#{finding_post.name}','#{finding_post.age}','#{finding_post.gender == true ? "male":"female"}','#{finding_post.location}');" }
      %img{:alt => "img01", :src => "#{finding_post.image.thumb}"}/
    .og-expander
      .og-expander-inner
        %span.og-close
        .og-fullimg
          .og-loading
          %img{:src => "images/2.jpg"}/
        .og-details
          %h3
          %p
          %a{:href => ""}
