= content_for(:title, t("finding.edittitle"))
.row
  .large-12.large-centered.medium-12.medium-centered.small-12.small-centered.columns
    %fieldset
      %legend= t("finding.title")
      = simple_form_for(@finding_post) do |f|
        = f.input :name, label:t("finding.child_name"), placeholder: t("finding.required_field")
        = f.input :age, label:t("finding.age"), placeholder: t("finding.required_field")
        = f.input :description, label:t("finding.description"), placeholder: t("finding.description_placeholder")
        = f.input :special_signs, label:t("finding.special_signs"), placeholder: t("finding.special_signs_placeholder")
        = f.input :gender, as: :radio_buttons, radio_buttons_style: :nested, collection: [t("finding.male"), t("finding.female")], label: t("finding.gender")
        = f.input :location_id, collection: Location.order("name"), label_method: :name, value_method: :id, label: t("finding.location"), include_blank: "(" + t("finding.location") + ")"
        = f.input :image, label:t("finding.image")
        %center
          = f.submit t("finding.submit"), class: "button"
