!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Thumbnail Grid with Expanding Preview
    %meta{:content => "Thumbnail Grid with Expanding Preview", :name => "description"}/
    %meta{:content => "thumbnails, grid, preview, google image search, jquery, image grid, expanding, preview, portfolio", :name => "keywords"}/
    %meta{:content => "Codrops", :name => "author"}/
    = stylesheet_link_tag "default"
    = stylesheet_link_tag "component"
    = javascript_include_tag "modernizr.custom"
  %body
    .container
      .main
        %ul#og-grid.og-finding-grid
          - @finding_posts.each do |finding_post|
            -griduser = 0
            -if(current_user != nil)
              -griduser = current_user.id
            %li
              %a{"data-description" => "name : #{finding_post.description}<br>location : #{Location.find(finding_post.location_id)}<br>special signs : #{finding_post.special_signs}<br>age : #{finding_post.age}<br>contact information : #{finding_post.contact_info}<br>gender : #{finding_post.gender == true ? 'male':'female'}".html_safe, "data-largesrc" => "#{finding_post.image}", "data-title" => "#{finding_post.name}", :mine => finding_post_mine_path(finding_post),:edit => edit_finding_post_path(finding_post),:user => "#{finding_post.user_id}",:current => "#{griduser}", :returned => report_child_as_returned_path(finding_post)}
                %img{:alt => "img01", :src => "#{finding_post.image.thumb}"}/
              .og-expander
                .og-expander-inner
                  %span.og-close
                  .og-fullimg
                    .og-loading
                    %img{:src => "images/2.jpg"}/
                  .og-details
                    %h3
                    %p
                    %a{:href => ""}
    / /container
    = javascript_include_tag "finding_grid"
    :javascript
      $(function() {
        FindingGrid.init();
      });
