!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Thumbnail Grid with Expanding Preview
    %meta{:content => "Thumbnail Grid with Expanding Preview", :name => "description"}/
    %meta{:content => "thumbnails, grid, preview, google image search, jquery, image grid, expanding, preview, portfolio", :name => "keywords"}/
    %meta{:content => "Codrops", :name => "author"}/
    = stylesheet_link_tag "default"
    = stylesheet_link_tag "component"
    = javascript_include_tag "modernizr.custom"
  %body
    .container
      .main
        %ul#og-grid.og-finding-grid
          -griduser = 0
          -if(current_user != nil)
            -griduser = current_user.id
          %li
            %a{"data-description" => "name : #{@finding_post.description}<br>location : #{@finding_post.location}<br>special signs : #{@finding_post.special_signs}<br>age : #{@finding_post.age}<br>contact information : #{@finding_post.contact_info}<br>gender : #{@finding_post.gender == true ? 'male':'female'}".html_safe, "data-largesrc" => "#{@finding_post.image}", "data-title" => "#{@finding_post.name}", :mine => finding_post_mine_path(@finding_post),:edit => edit_finding_post_path(@finding_post),:user => "#{@finding_post.user_id}",:current => "#{griduser}", :returned => report_child_as_returned_path(@finding_post), :share => "shareFindingPost('#{@finding_post.id}','#{@finding_post.name}','#{@finding_post.age}','#{@finding_post.gender == true ? "male":"female"}','#{@finding_post.location}');" }
              %img{:alt => "img01", :src => "#{@finding_post.image.thumb}"}/
            .og-expander
              .og-expander-inner
                %span.og-close
                .og-fullimg
                  .og-loading
                  %img{:src => "images/2.jpg"}/
                .og-details
                  %h3
                  %p
                  %a{:href => ""}       
    / /container
    = javascript_include_tag "finding_grid"
    :javascript
      $(function() {
        FindingGrid.init();
      });

      function shareFindingPost(id, name, age, gender, location) {
        FB.ui(
          {
            method: 'share_open_graph',
            action_type: 'Mafqood:share',
            action_properties: JSON.stringify({
              post:{
                "og:url": 'http://localhost:3000/finding_posts',
                "og:title": 'Found a Missing Child:',
                "og:type": 'mafqood:post',
                "og:image": 'http://www.wlrfm.com/images/lost-found-banner.jpg',
                "og:image:height": '627',
                "og:image:width": '1200',
                "og:description": 'A child has been found in ' + location + ' with these information; ' + 'Name: ' + name + ', ' + 'Gender: ' + gender + ', ' + 'Age: ' + age + ' years old. ' + 'For more information click on the post.',
                "fb:app_id": '1571552789759205',
              },
            })
          },
          function(response) {
            if (response && !response.error_code) {
              alert('Posting completed.');
            } else {
              alert('Error while posting.');
            }
          }
        );
      }

      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1571552789759205',
          xfbml      : true,
          version    : 'v2.3'
        });   
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
