!!! 5
%html{ lang: cookies[:locale], dir: cookies[:locale] == "ar" ? "rtl" : "ltr" }
  %head
    %meta{ charset: "utf-8" }

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : t("title")

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body.f-topbar-fixed
    .fixed
      %nav.top-bar{ "data-topbar": "", role: "navigation" }
        %ul.title-area
          %li.name
            %h1
              = link_to t("title"), root_url
    %section{ role: "main" }
      .row
        .columns.large-12.medium-12.small-12
          = yield
