!!! 5
%html{ lang: I18n.locale, dir: I18n.locale == I18n.default_locale ? "rtl" : "ltr" }
  %head
    %meta{ charset: "utf-8" }

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : t("title")

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body
    %nav.top-bar{ "data-topbar" => "", role: "navigation" }
      %ul.title-area
        %li.name
          %h1= link_to t("title"), root_url
        %li.toggle-topbar.menu-icon
          %a{ href: "javascript:" }
            %span= t("menu")
      %section.top-bar-section
        %ul
          - if current_user
            %li.active= link_to t("logout"), logout_path, class: "button"
          - else
            %li.active= link_to t("facebook_login"), login_path(:facebook), class: "button", onclick: "if($(this).hasClass('disabled')) return false; $(this).addClass('disabled');"
        - if current_user
          %ul.right
            %li.divider.hide-for-small
            - if I18n.locale == :en
              %li= link_to "عربي", { locale: "ar" }, onclick: "$('html').attr('lang', 'ar').attr('dir', 'rtl');"
            - else
              %li= link_to "English", { locale: "en" }, onclick: "$('html').attr('lang', 'en').attr('dir', 'ltr');"
            %li.divider.hide-for-small
            %li= link_to t("users.my_posts"), my_posts_path
            %li.divider.hide-for-small
            %li= link_to t("users.edit"), edit_profile_path
    - if notice
      .success.alert-box{ "data-alert" => "" }
        = notice
        %a.close{ href: "#" } &times;
    - if alert
      .alert.alert-box{ "data-alert" => "" }
        - alert.each do |a|
          %div
            = a
            %a.close{ href: "#" } &times;
    %section{ role: "main" }
      .row
        .columns.large-12.medium-12.small-12
          = yield
