.row
  %fieldset
    %legend= t("home.report")
    .columns.large-4.medium-4.small-12
      %center
        %a.th{ href: "#{new_missing_post_path}" }
          %img{ src: "miss.png" }
    .columns.large-4.medium-4.small-12
      %center
        %a.th{ href: "#{new_finding_post_path}" }
          %img{ src: "found.png" }
    .columns.large-4.medium-4.small-12
      %center
        %a.th{ href: "#{new_suspect_post_path}" }
          %img{ src: "sus.png" }
.row
  %fieldset
    %legend= t("home.search")
    .columns.large-6.medium-6.small-12
      %center
        %a.th{ href: "#{missing_posts_path}" }
          %img{ src: "sesmis.png" }
    .columns.large-6.medium-6.small-12
      %center
        %a.th{ href: "#{finding_posts_path}" }
          %img{ src: "founds.png" }
