- @missing_posts.each do |missing_post|
  %li
    %a{"data-description" => "Age: #{missing_post.age}<br>Reporter phone: #{missing_post.reporter_phone}<br>Location: #{Location.find(missing_post.location_id)}<br>Description: #{missing_post.description}<br>Special signs: #{missing_post.special_signs}<br>Gender: #{missing_post.gender}".html_safe, "data-largesrc" => "#{missing_post.image}", "data-title" => missing_post.reporter_name, "href" => "#{missing_post_report_path(missing_post)}", "found" => "#{report_child_as_found_path(missing_post.id)}","edit" => "#{edit_missing_post_path(missing_post)}"}
      %img{:alt => "img01", :src => "#{missing_post.image.thumb}"}/
    .og-expander
      .og-expander-inner
        %span.og-close
        .og-fullimg
          .og-loading
          %img{:src => ""}
        .og-details
          %h3
          %p
          %a{:href => ""}
   
