- @missing_posts.each do |missing_post|
  %li
    %a{"data-description" => "#{t("finding.gender")} : #{missing_post.gender == true ? t("finding.male"):t("finding.female")}Age: #{missing_post.age}<br>#{t("finding.telephone")} : #{missing_post.user.telephones.first.number}<br>#{t("finding.location")} : #{missing_post.location}<br>#{t("finding.description")} : #{missing_post.description}<br>#{t("finding.special_signs")}: #{missing_post.special_signs}".html_safe, "data-largesrc" => "#{missing_post.image}", "data-title" => missing_post.reporter_name, "href" => "#{missing_post_report_path(missing_post)}", "found" => "#{report_child_as_found_path(missing_post.id)}","edit" => "#{edit_missing_post_path(missing_post)}"}
      %img{:alt => "img01", :src => "#{missing_post.image.thumb}"}/
    .og-expander
      .og-expander-inner
        %span.og-close
        .og-fullimg
          .og-loading
          %img{:src => ""}
        .og-details
          %h3
          %p
          %a{:href => report_child_as_found_path(missing_post.id)}
   
