= content_for(:title, t("missing_posts.title"))
%center
  %h1
    = t("missing_posts.page_title")

= simple_form_for @missing_post, :html => { :multipart => true } do |f|
  .row
    .large-12.small-12.columns
      %fieldset
        %legend
          = t("missing_posts.form_title")
        = f.input :reporter_name, label:t("finding.child_name"), placeholder: t("finding.required_field")
        = f.input :gender, as: :radio_buttons, radio_buttons_style: :nested, collection: [t("missing_posts.male"), t("missing_posts.female")], label: t("missing_posts.gender")
        = f.input :age, label: t('missing_posts.approximate_age'),placeholder: t("missing_posts.age_placeholder")
        = f.input :location_id, collection: Location.order("name"), label_method: :to_s, value_method: :id, label: t("finding.location"), include_blank: "(" + t("finding.location") + ")"
        = f.input :image, as: :file, label: t("missing_posts.image"), input_html: { accept: "image/*" }
        = f.input :description, as: :text, label: t('missing_posts.description'),placeholder: t("missing_posts.description_placeholder")
        = f.input :special_signs, as: :text, label: t('missing_posts.special_signs'), placeholder: t("missing_posts.signs_placeholder")
        %br
        %center
          =f.button :submit, t("missing_posts.submit_button")
